<!DOCTYPE html>
<html>
    <head>
        <title>Tricot - App</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href='assets/css/main.css' rel='stylesheet' type='text/css'>
        <link href="assets/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    </head>
    <body ng-app="tricot" ng-controller="MainCtrl">
        <div class="form-container">
            <form id="create-form">
                <h1><i class="fa fa-th-large" aria-hidden="true"></i> Knit Design</h1>
                <input name="hauteur" type="number" min="0" placeholder="nb de lignes" />
                <br/>
                <input name="longueur" type="number" min="0" placeholder="nb de colonnes" />
                <br/>
                <button type="submit" ng-click="submitForm()">Créer</button>
            </form>
        </div>
        <div class="container">
            <div id="canvas">
                <div ng-repeat="box in boxes" ng-click="boxClick($event)" class="box" style="left: {{box.left}}; top: {{box.top}};" weight="1"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="footer">Made with love by phabos</div>
        <div class="toolbox">
            <button ng-click="newPlan()">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button ng-click="eraserMode($event)" id="eraserBtn">
                <i class="fa fa-eraser" aria-hidden="true"></i>
            </button>
            <div class="symbol-container">
                <div class="symbols">
                    <img ng-repeat="symbol in symbols" ng-src="{{symbol.s}}" weight="{{symbol.weight}}" ng-click="selectSymbol($event)" />
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/angular.js"></script>
        <script src="assets/js/lokijs.js"></script>
        <script src="assets/js/loki-angular.js"></script>
        <script src="assets/js/custom.jquery.js"></script>
        <script src="assets/js/custom.angular.js"></script>
    </body>
</html>
